.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 95%;
  border-radius: 20px;
  margin: 30px;
  border: 2px dashed #ccc;
  margin-bottom: 20px;
  /* cursor: pointer; */
  background-color: white;
}

.dropzone img {
  width: 100px;
  height: auto;
}

.dropzone p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
  margin: 0 0 10px 0;
}

.dropzone button {
  background-color: #336699;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.list {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: right;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 10px;


  margin-bottom: 5px;
}

.list li span:first-child {
  margin-right: 10px;
}

.clear_all,
.submit {
  background-color: #336699;
  color: white;
  border: none;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


.btn div {
  display: flex;
  justify-content: space-between;
}

.vertical_btn button {

  justify-content: center;
  /* height: 100vh; */
  display: flex;
  /*flex-direction: 'column';*/
  align-items: center;
  color: white;
  background: #336699;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;




  .vertical_btn {

    justify-content: right;
    /* height: 100vh; */
    display: flex;
    /*flex-direction: 'column';*/
    align-items: center;
    /* color: white; */
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;


  }



  /*
.clearnall button {
 
  background-color: #cccccc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}
*/
  /*
 height: '100vh';
  display: 'flex';
  flex-direction: 'column';
  align-items:'center';
  justify-content: 'center';
  margin-top: 10px;
  background-color: #336699;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;*/