.navbar .navbar-expand-lgnavbar-light {
color: rgb(23, 23, 169);
}
.header-logo {
    height: 80px;
    width: 100px;
}

.header-login {
    border: none;
    color: white;
    padding: 1px;
    align-content: center;
    border-radius: 50%;
}
.userpic-button {
    height: 40px;
    width: 40px;
}

.float-child {
    width: auto;
    float: left;
    padding: 0px 15px;
    
}  

.custom-navbar {
    background-color: rgb(11, 54, 104);
}

.show ul{
   background-color: rgb(11, 54, 104,.5) ;
   display: flex;
   padding:0px;
   border-bottom: solid  hsl(0, 0%, 80%,.2);
  
   
}
.show li{
    border-bottom: solid  #ccc;
   box-shadow: 10px 5px 5px rgb(11, 54, 104) ;
   padding: 0px;
    
}
.show span{
    color: white;
    font-size: 16px;
  
    font-weight: 200;

}
    



